/*Font sizes*/
.font-size-11 {
    font-size: 11px;
}

a {
    text-decoration: none;
}

.button {
    padding: 0.3rem 0.7rem 0.4rem 0.7rem;
    border-radius: 50px;
}

.button.orange {
    background-color: #CD3D0F;
    color: white;
}

.header-top-bar {
    width: 100%;
    background-color: black;
}

header #sony-logo {
    height: 9px;
}

section[id*='jumbo'] .container.first {
    height: 400px;
}

#jumbo-1 .container.first {
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center
}

#jumbo-1 .container.first img {
    width: 180px;
}

#jumbo-1 .container.second img {
    width: 100%;
    border-radius: 10px;
}

#jumbo-1 .container.second .active {
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 1.5px #0072CE;
}