/* Font sizes */
.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
    line-height: 15px;
}

.font-size-13 {
    font-size: 13px;
    line-height: 20px;
}

.font-size-16 {
    font-size: 16px;
    line-height: 18px;
}

.font-size-21 {
    font-size: 21px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-26 {
    font-size: 26px;
}

/* Generali */
.text-blue {
    color: #0072CE;
}

.text-gray, .text-grey {
    color: #727272;
}

section[id*='jumbo'] .container.first {
    height: 400px;
}

section[id*='mini-jumbo'] .container {
    height: 200px;
}

a {
    text-decoration: none;
}

.button {
    padding: 0.3rem 0.6rem 0.4rem 0.6rem;
    border-radius: 50px;
}

.button.orange {
    background-color: #CD3D0F;
    color: white;
}

.button.blue {
    background-color: #2D64E6;
    color: white;
}

.button.begie {
    color: #2D64E6;
    background-color: #D9DADC;
}

/* Header */
.header-top-bar {
    width: 100%;
    background-color: black;
}

header #sony-logo {
    height: 9px;
}

/* Jumbo-1 */
#jumbo-1 .container.first {
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center
}

#jumbo-1 .container.first img {
    width: 60%;
}

#jumbo-1 .container.second img {
    border-radius: 10px;
}

#jumbo-1 .container.second .active {
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 1.5px #0072CE;
}

/* PlayStation 5 */
#playstation-5 .container .row .active {
    border-bottom: 1.5px solid #0072CE;
}

/* Jumbo-2 */
#jumbo-2 .container.first {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center
}

#jumbo-2 .container.first img {
    width: 60%;
}


/* Nuove Uscite */
#nuove-uscite {
    color: white;
    background-color: #1F1F1F;
}

#nuove-uscite .container img {
    border-radius: 15px;
}

/**/
#mini-jumbo-1 {
    background-color: #BEBCBB;
}

#mini-jumbo-1 .container .row .col.left img{
    width: 60%;
}

/**/

/**/

/**/

/**/